/* * {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: rgb(7, 2, 51);
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.form-container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.form {
    background-color: white;
    padding: 50px 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);

}



.input {
    width: 120%;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: "Inter", sans-serif;
}



.submit {
    width: 50%;
    padding: 13px;
    border-radius: 5px;
    color: white;
    background-color: #18a8e0;
    border: none;
    cursor: pointer;
    margin-top: 14px;
}



 */
.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(135, 195, 252);
    border-radius: 18px;
    width: 360px;
    height: 400px;
    
}


